/* START TEAM CAROUSEL SECTION  */

.ids{
    font-size: 25px;
    text-align: center;
}

.carousel-item,.page-item{
    transition: all 0.8s;
}

.carousel-indicators [data-bs-target] {
    text-indent: 0px;
}

.page-item:not(:first-child) .page-link {
    margin-left: -5px !important;
}

.carousel-indicators{
    bottom:-3.5rem !important;
}


/* END TEAM CAROUSEL SECTION  */